<mat-card>
    <div style="height: 400px">
        <ngx-charts-bar-vertical
            [gradient]="true"
            [scheme]="colorScheme"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [barPadding]="30"
            [yAxisLabel]="yAxisLabel"
            [yAxisTickFormatting]="yAxisFormatterFactory()"
            [results]="results">
        </ngx-charts-bar-vertical>
    </div>
</mat-card>
