<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px">
  <app-info-card fxLayout="column" dataTitle="Total Money Spent" [data]="totalMoneySpent" fxFlex></app-info-card>
  <app-info-card fxLayout="column" dataTitle="Money Spent on Shopping" [data]="shoppingMoneySpent" fxFlex></app-info-card>
  <app-info-card fxLayout="column" dataTitle="Money Spent on Food" [data]="foodMoneySpent" fxFlex></app-info-card>
  <app-info-card fxLayout="column" dataTitle="Money Spent on Other Stuffs" [data]="otherMoneySpent" fxFlex></app-info-card>
</div>