<mat-card>
    <div style="height: 300px">
        <ngx-charts-area-chart-stacked
            [scheme]="colorScheme"
            [results]="results"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="true"
            [yAxisTickFormatting]="yAxisFormatterFactory()"
            [gradient]="true">
            </ngx-charts-area-chart-stacked>
        <div *ngIf="!hasData" class="no-data"><span>No Data</span></div>
    </div>
</mat-card>
    